@import url(http://fonts.googleapis.com/css?family=Capriola);

body{
  width: 100%;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  background-color: #FCFCFC;
  margin-top: auto;
}

header {

    text-align: middle;
    margin-bottom: 20px; 
    vertical-align: middle;
    width: 1000%;
    background-color: #0f71ba; 
}
#siteWrap {
  width: 70%;
}

#navbar,
#navbar ul,
#navbar ul li,
#navbar ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  font-family: Capriola, Helvetica, sans-serif;
}
#navbar {
  width: auto;
  height: 59px;
  padding-bottom: 4px;
}
#navbar.align-right {
  float: right;
}
#navbar.align-right ul li {
  float: right;
  margin-right: 0;
  margin-left: 4px;
}
#navbar.align-right ul li:first-child,
#navbar.align-right ul li:first-child > a {
  border-bottom-right-radius: 3px;
}
#navbar #bg-one,
#navbar #bg-two,
#navbar #bg-three,
#navbar #bg-four {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
#navbar #bg-one {
  height: 10px;
  background: #0f71ba;
}
#navbar #bg-two {
  height: 59px;
  z-index: 2;
  background: url('images/bg.png');
}
#navbar #bg-three {
  bottom: 4px;
  height: 55px;
  z-index: 3;
  background: #222222;
  background: -moz-linear-gradient(top, #555555 0%, #222222 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #222222));
  background: -webkit-linear-gradient(top, #555555 0%, #222222 100%);
  background: -o-linear-gradient(top, #555555 0%, #222222 100%);
  background: -ms-linear-gradient(top, #555555 0%, #222222 100%);
  background: linear-gradient(to bottom, #555555 0%, #222222 100%);
}
#navbar #bg-four {
  bottom: 4px;
  height: 55px;
  z-index: 4;
  background: url('images/bg.png');
}
#navbar ul {
  height: 59px;
}
#navbar ul li {
  float: left;
  margin-right: 4px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  z-index: 5;
}
#navbar ul li a {
  padding: 24px 30px 20px 30px;
  margin-bottom: 4px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #eeeeee;
  font-size: 15px;
  text-decoration: none;
}
#navbar ul li:first-child,
#navbar ul li:first-child > a {
  border-bottom-left-radius: 3px;
}
#navbar ul li:hover,
#navbar ul li.active {
  background: #0f71ba;
  background: -moz-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3fa4f0), color-stop(100%, #0f71ba));
  background: -webkit-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: -o-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: -ms-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: linear-gradient(to bottom, #3fa4f0 0%, #0f71ba 100%);
}
#navbar ul li a:hover,
#navbar ul li.active > a {
  background: url('images/bg.png');
  color: #ffffff;
}
